# Learning

In [ ]:
ls_of_ls = [['a', 'b', 'c'], ['d', 'e', 'f']]

ls_of_ls[1][2]

In [1]:
account={"name":"adam","address":"460166"}
#info/property/key/attribute: name, address, value: adam

account["address"] #getting value from the attribute

#account ->> "address"::text (postgres)
#account.address (java)

'460166'

In [6]:
address_ls = ["460166", "Bedok", "Singapore"]

In [8]:
account2 = {"name":"adam",
            "address": address_ls 
           }
account2["address"] #get method to get the info for the address

['460166', 'Bedok', 'Singapore']

In [11]:
#info needs to be accessible by any user
#easy to read -> if you read it, you'll know what each attribute means

account3 = {"name":"adam",
            "address": "bedok",
            "postal_code": "460166",
            "country":"Singapore"}
    
account3["country"]

'Singapore'

In [12]:
address={"postal_code": 550215, "country": "Singapore", "region": "Serangoon"}

account4 = {"name": "yufang", "address": address, "education": {"secondary":"st gabs", "jc":"tpjc"}}

account4["education"]["secondary"]

'st gabs'

In [14]:
#datatypes => string, text, varchar, float, ls, dictionary
#reference objects: something that is pointing to another thing

In [17]:
table=[account, account2, account3, account4]

for row in table:
    print(row)

{'name': 'adam', 'address': '460166'}
{'name': 'adam', 'address': ['460166', 'Bedok', 'Singapore']}
{'name': 'adam', 'address': 'bedok', 'postal_code': '460166', 'country': 'Singapore'}
{'name': 'yufang', 'address': {'postal_code': 550215, 'country': 'Singapore', 'region': 'Serangoon'}, 'education': {'secondary': 'st gabs', 'jc': 'tpjc'}}

In [19]:
#this is list with 3 elements/objects which is a dictionary
full_response = [
    {
        "timestamp": "2010....12:00:00",
        "detections": [
            { "class": "Person", "count": 5 },
            { "class": "Face", "count": 0 },
            { "class": "Vehicle", "count": 58 },
            { "class": "Object", "count": 512 }
        ]
    },
    {
        "timestamp": "2010....12:05:00",
        "detections": [
            { "class": "Person", "count": 3 },
            { "class": "Face", "count": 0 },
            { "class": "Vehicle", "count": 90 },
            { "class": "Object", "count": 322 }
        ]
    },
    {
        "timestamp": "2010....12:10:00",
        "detections": [
            { "class": "Person", "count": 9 },
            { "class": "Face", "count": 0 },
            { "class": "Vehicle", "count": 38 },
            { "class": "Object", "count": 432 }
        ]
    }
]

In [20]:
full_response[1]["detections"][2]["count"]

90